.about {
    background-image: url("./../../assets/background-2.jpeg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; 

    min-height: 100vh;
}

.about--content {
    padding: 24px;
    margin-top: 92px;
    margin-bottom: 92px;

    .about--content--card {
        width: 100%;
        box-shadow: 0px 0px 45px 0px rgba(255, 255, 255, 0.6);
        background: rgba(0, 0, 0, 0.85);

        .tech-list {
            margin-top: 32px
        }
    }
}